@import './fonts';
@import './colors';

:root{
    --color-transition: color 0.3s ease;
    --background-color-transition: background-color 0.3s ease;
    --border-color-transition: border-bottom 0.3s ease;
}

body{
    background-color: $very-light-gray;
    margin: 0;
    transition: var(--background-color-transition);

    &.black-theme{
        background-color: $very-dark-blue;
    }
}

p{
    margin: 0;
}

.heading-image{
    position: absolute;
    width: 100%;
    display: block;

    source, img{
        width: 100%;
        display: block;
    }

    &.light-image{
        .black-theme &{
            display: none;
        }
    }

    &.dark-image{
        display: none;
        
        .black-theme &{
            display: block;
        }
    }
}

.content-wrapper{
    position: relative;
    margin: 0 auto;
    padding: 64px 24px 0 24px;
    max-width: 540px;

    @media screen and (min-width: 768) {
        padding: 64px 0 0 0;
    }
}

.title-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .title{
        color: #ffffff;
        text-transform: uppercase;
        font-size: 39px;
        font-weight: 700;
        letter-spacing: 8px;
    }
}

.theme-toggler{
    width: 26px;
    height: 26px;
    display: inline-block;
    position: relative;
    cursor: pointer;

    .light-selector{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;

        .black-theme &{
            opacity: 1;
        }
    }

    .dark-selector{
        .black-theme &{
            opacity: 0;
        }
    }
}

.input-wrapper{
    display: flex;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 50px;
    padding: 20px 25px;
    justify-content: space-between;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    transition: var(--background-color-transition);

    .black-theme &{
        background-color: $very-dark-desaturated-blue;
    }
}

.add-todo-wrapper{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;

    &:hover{
        .add-todo{
            background-color: transparent;
        }
    }

    &::before{
        content: '';
        position: absolute;
        display: inline-block;
        background: $check-background;
        width: 25px;
        height: 25px;
        border-radius: 50%;
}

    &.completed{
        .white-background{
            opacity: 0;
        }
    }
}

.add-todo{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    background-color: $very-light-grayish-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--background-color-transition);

    .black-theme &{
        background-color: $very-dark-grayish-blue;
    }

    &.checked {
        background: $check-background;
    }

    .white-background{
        width: 21px;
        height: 21px;
        background-color: #ffffff;
        position: absolute;
        border-radius: 50%;
        pointer-events: none;
        opacity: 1;
        transition: var(--background-color-transition), opacity 0.3s ease;

        .black-theme &{
            background-color: $very-dark-desaturated-blue;
        }
    }
}

.todo-input{
    width: 100%;
    appearance: unset;
    border: none;
    background-color: transparent;
    color: $very-dark-blue;

    .black-theme &{
        color: $light-grayish-blue;
    }
}

::placeholder{
    color: $dark-grayish-blue;

    .black-theme &{
        color: $dark-grayish-blue;
    }
}

.todos-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    transition: var(--background-color-transition);

    .black-theme &{
        background-color: $very-dark-desaturated-blue;
    }
}

.todo-item{
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    border-bottom: 1px solid $light-grayish-blue;
    padding: 20px 25px;
    transition: var(--border-color-transition);

    &:hover{
        .icon-clear{
            opacity: 1;
        }
    }

    .black-theme &{
        border-bottom: 1px solid $very-dark-grayish-blue;
    }

    &.completed{
        .white-background{
            opacity: 0;
        }
        .todo-text{
            color: $dark-grayish-blue;
            text-decoration: line-through;
        }
    }

    .add-todo, .todo-text, .icon-clear {
        cursor: pointer;
    }
}

.text-clear-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.todo-text{

    .black-theme &{
        color: $light-grayish-blue;
    }

}

.information-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;

    p{
        font-size: 16px;
    }

    &.hide{
        display: none;
    }

    .main-filter{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px 25px;
        background-color: #ffffff;
        border-radius: 0 0 10px 10px;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        transition: var(--background-color-transition);
    
        .black-theme &{
            background-color: $very-dark-desaturated-blue;
        }
    }
}

.items-left{
    color: $dark-grayish-blue;
}

.items-filters, .items-filters-mobile{
    display: none;

    @media screen and (min-width: 768) {
        display: flex;
    }

    p{
        margin-right: 22px;
        cursor: pointer;
        color: $dark-grayish-blue;
        transition: var(--color-transition);

        &:last-child{
            margin-right: 0;
        }

        &:hover{
            color: $very-dark-grayish-blue;

            .black-theme &{
                color: $light-grayish-blue;
            }
        }
    }

    .selected{
        color: $bright-blue;
    }
}

.items-filters-mobile{
    display: flex;
    width: 100%;
    padding: 20px 25px;
    margin-top: 16px;
    margin-bottom: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    transition: var(--background-color-transition);

    .black-theme &{
        background-color: $very-dark-desaturated-blue;
    }

    p{
        margin-right: 22px;

        &:last-child{
            margin-right: 0;
        }
    }

    @media screen and (min-width: 768) {
        display: none;
    }
}

.items-clear{
    color: $dark-grayish-blue;
    cursor: pointer;
    transition: var(--color-transition);

    &:hover{
        color: $very-dark-grayish-blue;

        .black-theme &{
            color: $light-grayish-blue;
        }
    }
}

.icon-clear{
    opacity: 0;
}

.icon-check{
    pointer-events: none;
}

.hide{
    display: none;
}